<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Homework_8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Homework_8.Properties.Settings>
            <setting name="SaveText" serializeAs="String">
                <value>Введите своё имя -
Введите свой возраст - 
Введите свою профессию -</value>
            </setting>
            <setting name="OpenSum" serializeAs="String">
                <value>0</value>
            </setting>
        </Homework_8.Properties.Settings>
    </userSettings>
</configuration>